#web-site-page-colors
  - unless @latest_colors.blank?
    - @latest_colors.each do |color|
      .color{'data-uuid' => color.uuid, 'data-rgb-color' => color.rgb_color, 'data-url' => color.page.url}
        = color.page.site.uri_domain_tld
