%article
  %section
    %ul#page-colors-list.list-unstyled{'data-channel' => 'all_users'}
      - unless @latest_colors.blank?
        - @latest_colors.each do |color|
          = render 'globals/color', color: color