- @disable_react = true
- @page_meta_robots = 'noindex,follow'

:coffee
  ga 'send', 'event', 'Share', '#{params[:id].to_s.capitalize}', 'Success'

  try
    window.close()
  catch e
    #

  setTimeout ->
    window.location.href = '#{root_url}'
  , 500
