@ColorAboutPage = React.createClass
  getInitialState : ->
    twitterSvg : null
    facebookSvg : null
    instagramSvg : null

  componentDidMount : ->
    window.ColorCampSvgs.add('twitterSvg', "<%= asset_url 'twitter.svg' %>", this) unless this.state.twitterSvg
    window.ColorCampSvgs.add('facebookSvg', "<%= asset_url 'facebook.svg' %>", this) unless this.state.facebookSvg
    window.ColorCampSvgs.add('instagramSvg', "<%= asset_url 'instagram.svg' %>", this) unless this.state.instagramSvg

  render : ->
    title = 'About ' + ColorInitialProps.default_title

    twitterSvg = if this.state.twitterSvg then `<span className="social-icon social-twitter" dangerouslySetInnerHTML={{__html : this.state.twitterSvg }} />` else ''
    facebookSvg = if this.state.facebookSvg then `<span className="social-icon social-facebook" dangerouslySetInnerHTML={{__html : this.state.facebookSvg }} />` else ''
    instagramSvg = if this.state.instagramSvg then `<span dangerouslySetInnerHTML={{__html : this.state.instagramSvg }} />` else ''

    content = `<span>
      <section>
        <h1>about</h1>
        <h3>mycolor.today visualizes your Internet browsing history by capturing the average pixel color of each web page you access. the result, visualized on a daily basis, presents a different idea on what browsing means to the everyday viewer.</h3>
        <p>Everday we stare at computer screens as we type out emails, write code, upload photos, and push around pixels. Billions of pages of information splashed with text and images are accessed daily, composed of pixels emanating from a screen connected to a computer connected to the Internet. Together, these pixels visually speak to the viewer of the relationship between content and code.</p>
        <p>When seen both singularly and collectively as part of a broader history of browsing, patterns emerge that create a portrait of the activity of that Internet surfer. The day-to-day browsing captures, in color, a reflection of the surfer created of themselves. To wit, the surfer creates a digital selfie representation based on their browsing of others' selfies.</p>
        <p><br/>Follow mycolor.today on &nbsp; <a href={ColorInitialProps.links.social.twitter} onClick={TrackEvent.link('About:Text')}>{twitterSvg}</a> &nbsp; <a href={ColorInitialProps.links.social.instagram} onClick={TrackEvent.link('About:Text')}>{instagramSvg}</a> &nbsp; <a href={ColorInitialProps.links.social.facebook} onClick={TrackEvent.link('About:Text')}>{facebookSvg}</a></p>
      </section>
      <hr />
      <section>
        <h1>history</h1>
        <p>This is not my first exploration of Internet color. In 2013, as part of a residency at <a href="http://eyebeam.org" target="_blank" onClick={TrackEvent.link('About:Text')}>Eyebeam</a>, I created <a href="http://whatcolor.istheinter.net/?" onClick={TrackEvent.link('About:Text')}>WhatColor.IsTheInter.net/?</a> &ndash; an algorithm that scraped, screenshot, and analyzed the color of over 1.2 million web pages. The conclusive result was an average color of #CDCDCD (TODO).</p>
        <p>"What Color Is My Internet?" was the next exploration analyzing the color of the Internet. As part of the "In My Computer" book series from <a href={ColorInitialProps.links.books.link} target="_blank">LINK Center for the Arts of the Information Age</a>, I took a different view of what "in" means in relation to my computer. Today, the computer primarily acts as an access point and display terminal for the Internet information requested by the user. In this view, it is not the files or content in my computer, but what I am able to see that makes the computer so relevant.</p>
        <p>I started looking in on my Internet browsing history by building a browser tool that resides in my computer. Ninety days of my browsing history were collected and analyzed for the book, tracking 26,254 web pages visits across 1,426 web sites. The result was a collection of daily snapshots (or selfies) of the sites and average colors I viewed in my computer.</p>
        <p>While the book was an exploration of my browsing history, it is also applicable to the other 2.9 billion global Internet users. The same core tools I built to visualize my history for the book can allow others to visualize their browsing histories. I created <ColorLink to="/">mycolor.today</ColorLink> for everyone view and create their own these daily snapshots.</p>
      </section>
      <hr />
      <section>
        <p><em>Support provided by <a href={ColorInitialProps.links.books.link} onClick={TrackEvent.link('About:Text/Credits')}>LINK Center for the Arts of the Information Age</a> &amp; <a href="http://eyebeam.org" target="_blank" onClick={TrackEvent.link('About:Text/Credits')}>Eyebeam</a>. Inspiration and thanks to <a href="http://fromjia.com" target="_blank" onClick={TrackEvent.link('About:Text/Credits')}>Jiashan Wu</a>, <a href="http://evan-roth.com" onClick={TrackEvent.link('About:Text/Credits')}>Evan Roth</a>, <a href="http://domenicoquaranta.com/" target="_blank" onClick={TrackEvent.link('About:Text/Credits')}>Domenico Quaranta</a>, and the <a href="http://fffff.at" target="_blank" onClick={TrackEvent.link('About:Text/Credits')}>F.A.T. Lab</a> crew.</em></p>
      </section>
      <hr/>
      <section>
        <p>a project by <a href="https://gleu.ch" onClick={TrackEvent.link('About:Text/Copyright')}>Greg Leuch</a>. <a href="https://twitter.com/gleuch" target="_blank" onClick={TrackEvent.link('About:Text/Copyright')}>{twitterSvg}</a> <a href="https://instagram.com/gleuch" target="_blank" onClick={TrackEvent.link('About:Text/Copyright')}>{instagramSvg}</a><br/>copyright 2015, all rights reserved. <br/>source code provided under license: &nbsp; <a href="https://github.com/gleuch/my-color-today" target="_blank" onClick={TrackEvent.link('About:Text/Copyright')}>web app</a> &nbsp; <a href="https://github.com/gleuch/my-color-today-extensions" target="_blank" onClick={TrackEvent.link('About:Text/Copyright')}>browser extensions</a></p>
        <p><small><ColorLink to="/privacy">privacy policy &amp; terms</ColorLink></small></p>
      </section>
    </span>`

    rightGutter = `<span>
      <section>
        <h3>get the book</h3>
        <p>you can purchase a physical or digital editon of the book “What Color Is My Internet?” by Greg Leuch on Lulu on <a href={ColorInitialProps.links.books.lulu} target="_blank" onClick={TrackEvent.track('PurchaseBook','Lulu','About:Gutter/Text')}>paperback</a> or as an <a href={ColorInitialProps.links.books.lulu_ebook} target="_blank" onClick={TrackEvent.track('PurchaseBook','LuluEbook','About:Gutter/Text')}>eBook (PDF)</a>.</p>
        <ul className="buttons">
          <li><a href={ColorInitialProps.links.books.lulu} target="_blank" className="btn btn-default btn-amazon" onClick={TrackEvent.track('PurchaseBook','Lulu','About:Gutter/Button')}>buy book - €35</a></li>
          <li><a href={ColorInitialProps.links.books.lulu_ebook} target="_blank" className="btn btn-default btn-amazon" onClick={TrackEvent.track('PurchaseBook','LuluEbook','About:Gutter/Button')}>buy eBook (PDF) - €3</a></li>
        </ul>
        <p>a PDF preview is available for free on the <a href={ColorInitialProps.links.books.link} target="_blank" onClick={TrackEvent.link('About:Gutter/Text')}>LINK Center for the Arts of the Information Age</a> website.</p>
      </section>
    </span>`

    `<DocumentTitle title={title}>
      <ColorStaticPageDisplay content={content} rightGutter={rightGutter} pageName="about" />
    </DocumentTitle>`
