%article
  %section
    %h1= @user.name
    %ul#page-colors-list.list-unstyled{'data-channel' => "user-#{@user.uuid}"}
      - unless @latest_colors.blank?
        - @latest_colors.each do |color|
          = render 'globals/color', color: color
