- daily = @user.report(:daily) rescue nil

- unless @user.profile_private
  %section#colors-canvas{'data-channel' => "user-#{@user.uuid}"}
    - if daily.present?
      %h3 Today: #{daily[:count]} pages (##{daily[:hex]})
  :coffee
    $ ->
      @colorCamp.dataLoadColors #{@latest_colors.map(&:to_three_api).to_json}

- else
  %section
    .well
      %p.text-center This user has made their account private.
