- color ||= nil

- if color.present?
  %li.color{'data-uuid' => color.uuid, 'data-rgb-color' => color.rgb_color, 'data-url' => color.page.url, title: color.page.url}
    .color-area{style: "background-color: ##{color.hex_color}"}
    .color-info
      #{color.page.site.uri_domain_tld} - ##{color.hex_color}
