- info = {viewType: :site, url: web_site_path(@web_site), channel: @web_site.uuid}.to_json

:coffee
  $ ->
    $(window).one 'colorcamp:colorcanvas:mounted', ->
      $(window).trigger 'colorcamp:channel', #{info}
