html, html * {font-weight: 500;
  -webkit-text-rendering: optimizeLegibility; -moz-text-rendering: optimizeLegibility; -ms-text-rendering: optimizeLegibility; -o-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, td, dt, dd, li, p {font-family: $webfont-sans;}
h1, h2, h3, h4, h5, h6, strong, b, th, dt {font-weight: 600; color: $color-mid-black; padding: 0; margin: 0;
  & a, & span {font-weight: 600;}
}
p, div, li, td, dd {color: $color-text-grey;}
a {color: darken($color-logo, 5%); @include transition(color .2s ease-out);
  &:focus, &:hover {color: $color-mid-black; text-decoration: none;}
}

body ::selection {background: rgba($color-mid-black,.24);}

//form {
//  .form-control {border-radius: 0; color: $color-text-grey; font-size: 2.0rem; padding: 8px 10px; border-color: rgba($color-black, .25); height: auto;
//    @include placeholder {color: rgba($color-text-black,.2); text-transform: lowercase;}
//    &:focus {border-color: rgba($color-black,.5); outline: none; box-shadow: 0 0 5px rgba($color-black,.12);}
//  }
//  textarea.form-control {line-height: 1.33em;}
//  label.checkbox {display: block; font-size: 1.6rem; padding: 0 0 8px 24px;
//    input[type=checkbox] {margin-left: -24px; margin-right: 0; position: absolute;}
//  }
//}

//.btn {
//  &.btn-lg {padding: 15px; font-size: 2.25rem; line-height: 1.0em;}
//  &.btn-default {border-radius: 0; border: 1px solid transparent; text-transform: uppercase; color: $color-white; background-color: $color-logo; font-weight: 700; text-shadow: 0 1px 1px rgba($color-black,.05); @include transition(background-color .2s ease-out);
//    &:hover, &:focus {background-color: lighten($color-logo,10%); color: $color-white; outline: none; box-shadow: none;}
//    &:focus {box-shadow: 0 0 8px rgba($color-black,.32);}
//    &:active {background-color: rgba($color-mid-black,.5);}
//  }
//  &.btn-more {background-color: $color-mid-grey-bg; border-radius: 0; border: 1px solid transparent; text-transform: lowercase; color: $color-text-grey; font-weight: 700; text-shadow: none; @include transition(background-color .2s ease-out);
//    &:hover, &:focus {background-color: $color-grey-bg; outline: none; box-shadow: none;}
//    &:focus {box-shadow: 0 0 8px rgba($color-black,.32);}
//  }
//  &.btn-website {display: block; background-color: rgba($color-mid-black,.7); border-radius: 0; border: 1px solid transparent; text-transform: lowercase; color: $color-white; font-weight: 400; text-shadow: none; @include transition(background-color .2s ease-out);
//    &:hover, &:focus {background-color: $color-mid-black; outline: none; box-shadow: none;}
//    &:focus {box-shadow: 0 0 8px rgba($color-black,.32);}
//  }
//  &[disabled], &.disabled {opacity: .5; @include transition(none); box-shadow: none;
//    &, &:hover, &:focus, &:active {background-color: rgba($color-mid-black,.5) !important;}
//  }
//}