@include keyframes(fadeIn) {
  from  {opacity: 0;}
  to    {opacity: 1;}
}


html, html * {
  font-weight: 500;
  box-sizing: border-box;
  -webkit-text-rendering: optimizeLegibility; -moz-text-rendering: optimizeLegibility; -ms-text-rendering: optimizeLegibility; -o-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased;
}
html {font-size: 62.5%;}
html, body {padding: 0; margin: 0;}
body, h1, h2, h3, h4, h5, h6, td, dt, dd, li, p {font-family: $webfont-sans;}
h1, h2, h3, h4, h5, h6, strong, b, th, dt {font-weight: 600; color: $color-mid-black; padding: 0; margin: 0;}
a, span {font-weight: inherit;}
p, div, li, td, dd {color: $color-text-grey;}
a {color: darken($color-logo, 5%); text-decoration: none; @include transition(color .2s ease-out);
  &:focus, &:hover {color: $color-mid-black; text-decoration: none;}
}

body ::selection {background: rgba($color-mid-black,.24);}


// --- LAYOUT ---
#wrapper {position: relative; z-index: 1;}


// --- CANVAS ---
.colorcamp-canvas-area {
  position: fixed;
  top: 8em;
  right: 0;
  bottom: 10em;
  left: 0;
  z-index: 1;

  canvas {
    &.zoom2x {
      width: 200%;
      height: 200%;
      @include transform( scale(0.5,0.5) );
      @include transform-origin(top left);
    }
  }
}


// --- PROFILE DETAILS ---
//.details-container {
//  position: fixed; bottom: 25px; left: 25px; z-index: 150; padding-left: 60px; min-height: 50px;
//  .avatar {position: absolute; top: 0; left: 0; z-index: 151;
//    img {width: 50px; height: 50px; border: 2px solid #fff; border-radius: 100%; box-shadow: 0 3px 5px rgba(0,0,0,.2); background-color: #eee;}
//  }
//  h3 {padding: 7px 0 0 0; color: #888; text-shadow: 0px 1px 1px rgba(0,0,0,.12);}
//}


// --- MENU ---
#header {
  h1 {
    position: fixed;
    bottom: 32px;
    left: 24px;
    z-index: 12;
    font-size: 1.9rem;
    line-height: 1.0em;
    color: $color-black;
    
    a {
      color: $color-black;
      text-decoration: none;

      &:hover {
        color: rgba($color-black, .72);
      }
    }
  }
  
  #header-links {
    position: fixed;
    top: 0;
    right: -127px;
    width: 127px;
    padding: 24px 0 24px 32px;
    z-index: 12;
    @include transition(right .2s ease-in-out);
    @include linear-gradient(right, rgba(255,255,255,.92) 0%, rgba(255,255,255,.92) 92%, rgba(255,255,255,0) 100%, $fallback: transparent);

    a.toggle-menu {
      position: absolute;
      left: -42px;
      top: 24px;
      color: $color-black;
      @include transition(left .2s ease-in-out);
      svg {
        width: 24px;
        height: 24px;
        path, circle {
          fill: $color-black;
        }
      }
      &:hover {
        svg {
          path, circle {
            fill: rgba($color-black, .82);
          }
        }
      }
    }

    ul {
      opacity: 0;
      list-style: none;
      margin: 0;
      padding: 0 24px 0 0;
      @include transition(opacity .2s ease-in-out);

      li {
        margin: 0;
        padding: .5em 0;
        text-align: left;
        a {
          color: rgba($color-black,.72);
          font-size: 1.4rem;
          line-height: 1.0em;
          text-transform: lowercase;
          strong {
            display: inline-block;
            font-size: 1.6rem;
            padding: .5em 0;
            text-transform: none;
            color: $color-black;
          }
        }
      }
    }

    &.opened {
      right: 0;
      a.toggle-menu {
        left: -11px;
      }
      ul {
        opacity: 1;
      }
    }
  }
}


// --- CHANNEL ---
.channel {
  .channel-heading {
    position: fixed;
    top: 24px;
    left: 24px;
    right: 24px;
    z-index: 10;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 2.0rem;
      line-height: 1.0em;
      text-align: center;
      color: $color-black;

      img {
        width: 28px; 
        height: 28px; 
        margin: -7px 9px -4px 0;
        display: inline-block;
        background-color: #eee;
        vertical-align: middle;
      }

      .color-block {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: $color-white;
        margin: -8px -17px -7px 0;
      }

      em {
        font-style: normal;
        font-weight: 500;
      }
    }
    h3 {
      padding: 8px 0 0 0;
      margin: 0;
      font-size: 1.4rem;
      line-height: 1.0em;
      text-align: center;
      font-weight: 500;
      color: rgba($color-black,.8);

      a {
        color: $color-black;
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
          color: rgba($color-black, .82);
        }
      }
    }
  }

  .channel-details {
    position: fixed;
    bottom: 24px;
    right: 24px;

    h3 {
      margin: 0;
      padding: 0 0 4px 0;
      font-weight: 600;
      text-align: right;
      color: $color-black;
      font-size: 1.6rem;
      line-height: 1.0em;
    }
    p {
      margin: 0;
      padding: 0;
      text-align: right;
      color: $color-black;
      font-size: 1.4rem;
      line-height: 1.0em;
    }
  }

  .channel-options {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 20;
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: $color-black;
    font-size: 1.4rem;
    line-height: 1.0em;

    a {
      color: rgba($color-black, .24);
      svg {
        width: 20px;
        height: 20px;
        path, circle {
          fill: rgba($color-black, .24);
        }
      }
      &:hover {
        color: rgba($color-black, .48);
        svg {
          path, circle {
            fill: rgba($color-black, .48);
          }
        }
      }
    }

    .channel-option-actions {
      display: inline-block;
      width: auto;
      min-width: 32px;
      margin: 0 auto;

      .share-tip {
        font-size: 1.4rem;
        height: 20px;
        padding: 0;
        margin: 0;
        @include animation( fadeIn .2s ease-out 0s 1 );

        .is-open { display: none; }
        .is-not-open { display: inline-block; }
      }

      .share-open {
        display: none;
        position: absolute;
        bottom: 100%;

        @media (min-width: 767px) {
          & {
            width: 100px;
            margin: 0 -50px;
            left: 50%;
            right: 50%;
          }
        }

        .social-icon   {
          display: inline-block;
          padding: 2px 8px;
        }
      }

      &.on-tap-open, &:hover {
        .share-tip {
          .is-open { display: inline-block; }
          .is-not-open { display: none; }
        }

        .share-open {
          display: block;
        }
      }
    }
  }
}


// --- TIMELINE ---
//.timeline {
//  position: fixed; bottom: 0; left: 0; right: 0; text-align: center; z-index: 12;
//  .timeline-content { display: inline-block; width: auto; margin: 0 auto;
//    a { display: inline-block; padding: 3px 5px; color: #000; }
//    span { }
//  }
//}

// --- STATIC PAGES ---
.static-page {
  position: fixed;
  top: 64px;
  left: 32px;
  bottom: 64px;
  right: 32px;
  z-index: 10;
  padding: 0;
  margin: 0 auto;
  max-width: 1126px;
  background-color: rgba($color-white, .96);


  .static-page-content {
    float: left;
    position: relative;
    width: 71%;

    section {
      position: relative;
      padding: 10px 0 10px 37%;

      h1 {
        position: absolute;
        z-index: 10;
        width: 37%;
        margin: 0 0 0 -37%;
        padding: 20px 24px 0 0;
        text-align: right;
        color: $color-black;
        font-size: 3.2rem;
        line-height: 1.0em;
      }

      p {
        margin: 0;
        padding: 0 0 8px 0;
        font-size: 1.6rem;
        line-height: 1.5625em;
        color: $color-black;

        a {
          color: $color-black;
          text-decoration: underline;
          &:hover {
            color: rgba($color-black,.82);
          }
        }

        &.disclaimer {
          font-size: 1.1rem;
          line-height: 1.45em;
          padding: 0 0 6px 0;
          color: rgba($color-black,.32);
          
          a {
            color: rgba($color-black, .32);
            &:hover {
              color: rgba($color-black, .72);
            }
          }
        }
      }

      ul {
        font-size: 1.8rem;
      }
    }
  }
  .static-page-gutter {
    float: right;
    position: relative;
    width: 29%;
    padding: 24px 0 0 0;

    section {
      max-width: 230px;
      padding: 10px 0 10px 24px;

      h3 {
        margin: 0;
        padding: 0 0 12px 0;
        font-size: 1.6rem;
        line-height: 1.0em;
        color: $color-black;
      }

      p {
        margin: 0;
        padding: 0 0 8px 0;
        font-size: 1.3rem;
        line-height: 1.45em;
        color: rgba($color-black,.5);
        
        a {
          color: rgba($color-black, .5);
          text-decoration: underline;
          &:hover {
            color: $color-black;
          }
        }
      }

      ul {
        font-size: 1.4rem;
      }
    }
  }
}


// --- PAGES ---
.screen-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in, transform .5s ease-in;

  &.screen-enter-hidden {
    display: none !important;
  }
  &.screen-enter-active {
    opacity: 1;
  }
}
.screen-leave {
  opacity: 1;
  transition: opacity .5s ease-in, transform .5s ease-in;

  &.screen-leave-active {
    opacity: 0.01;
  }
}

/* Mobile dimensions */
@media (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    min-height: 16px;
    padding: 15px 15px 25px 15px;
    @include linear-gradient(top, rgba(255,255,255,.92) 0%, rgba(255,255,255,.92) 85%, rgba(255,255,255,0) 100%, $fallback: transparent);

    h1 {
      top: 15px;
      bottom: auto;
      left: 15px;
      right: 15px;
      text-align: left;
      font-size: 1.6rem;
      z-index: 26;
    }

    #header-links {
      top: 0;
      bottom: 0;
      left: 100%;
      right: auto;
      width: 100%;
      z-index: 27;
      padding: 10px 15px;
      background: rgba($color-white, 0);
      @include transition(left .2s ease-in-out, background-color .2s ease-out);

      a.toggle-menu {
        left: -32px;
        top: 14px;
        @include transition(left .2s ease-in-out);

        svg {
          width: 16px;
          height: 16px;
        }
      }

      ul {
        padding: 22% 0 0 0;

        li {
          text-align: center;
          padding: 2px 0;
          a {
            display: block;
            font-size: 2.0rem;
            padding: 8px 0;
          }
        }
      }

      &.opened {
        right: auto;
        left: 0;
        background: rgba($color-white, .95);

        a.toggle-menu {
          left: 15px;
        }
      }
    }
  }

  .colorcamp-canvas-area {
    position: fixed;
    top: 8.2em;
  }


  .channel {
    .channel-heading {
      top: 54px;
      left: 15px;
      right: 15px;
    }
    .channel-details {
      left: 15px;
      right: 15px;
    }
    .channel-options {
      left: 15px;
      right: auto;
      text-align: left;


      .channel-option-actions  {
        min-width: 24px;

        .share-open {
          padding-bottom: 4px;
          margin-bottom: 6px;
          border-bottom: 1px solid rgba($color-black,.12);

          .social-icon {
            padding: 0;
          }
        }

        p {
          padding: 0;
          margin: 0;

          a {
            display: block;
            padding: 2px 2px;
            margin: 6px 0;
          }
        }
      }
    }
  }


  .static-page {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    padding: 64px 15px 64px 15px;

    .static-page-content {
      width: 100%;

      section {
        padding: 10px 0 10px 0;

        h1 {
          position: relative;
          width: auto;
          margin: 0;
          padding: 0 0 12px 0;
          text-align: left;
          font-size: 2.8rem;
        }
      }
    }
    
    &.has-gutter {
      .static-page-content {
        width: 60%;
      }
    }
    
    .static-page-gutter {
      width: 36%;

      section {
        padding: 10px 0 10px 15px;

        h3 {
          font-size: 1.4rem;
        }

        p, ul {
          font-size: 1.2rem;
        }
      }
    }
  }

}